## Using Regression or Classification

Predicting Stock market price for Tesla, as the data is not clustered the only way to predict the trends is through regression.


Regression finds the correleations between the variables and predict the continous output.

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import datetime as dt 
%matplotlib inline

In [10]:
#Importing data from Github

url = "https://raw.githubusercontent.com/s356291/DAVE3625/main/TSLA.csv"
df = pd.read_csv(url, sep=',')


# Checking to see the lines
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
2840,2021-10-08,796.210022,796.380005,780.909973,785.489990,785.489990,16711100
2841,2021-10-11,787.650024,801.239990,785.500000,791.940002,791.940002,14200300
2842,2021-10-12,800.929993,812.320007,796.570007,805.719971,805.719971,22020000
2843,2021-10-13,810.469971,815.409973,805.780029,811.080017,811.080017,14120100
2844,2021-10-14,815.489990,820.250000,813.349976,818.320007,818.320007,12203200